
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cover;
    background: url('../images/verify.jpg') no-repeat center center/cover;
  }
  
  .container {
    position: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border-radius: 10px;
    height: 100px;
    background-color: rgba(223, 198, 198, 0.3);

  }
  
  th, td {
    padding: 10px 20px;
    
  }
  th {
    background-color: rgb(10, 10, 10);
    color: aliceblue;
  }

  tbody tr:nth-child(odd) {
    background-color: #bdb9b9;
  }

  tbody tr:nth-child(even) {
    background-color: #7a7979;
  } 
  button{
    width: 150px;
    padding: 7px;
    color: rgb(15, 15, 15);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    align-self: right;
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  }
  
  
  button:hover {
    background-color: #0d0d0e;
    color: rgb(247, 238, 238);
  }
 
  
  
  
  #add {
    width: 100px;
    padding: 7px;
    color: rgb(14, 14, 13);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: rgb(27, 27, 27);
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  
  }
  
  #add:hover {
    background-color: #0ab83e;
  }

   
  #del {
    width: 50px;
    padding: 7px;
    color: rgb(14, 14, 13);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: rgb(27, 27, 27);
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  
  }
  
  #del:hover {
    background-color: #eb2323;
  }
