{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/add_college.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="subject">subject :</label>
          <input
            type="text"
            id="subject"
            required
            placeholder="eg:'BCA2-Computer'"
            name="subject_name"
          /><br /><br />
          <label for="contact_hours">contact hours :</label>
          <input type="text" id="contact_hours" required name="contact_hours"><br><br>
          <label for="staff">Staff:</label>
          <select name="staff"  id="staff">
            <option value="">not assigned</option>
            {% for i in v %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
          </select>
          <button type="register" id="reg">register</button><br />
          <div id="message" class="message"> NB:   1.Add subject with subject code(contains 'course name with semester number') '-'  subject name format     eg:BCA1-computer fundamentals <br>2.for lab subjects the format is 'BCA0B01-Html-lab'
          </div>
          
        </form><div>
        <button><a href="/viewsubject">View subjects</a></button>
      </div>  </div>
    </div>
    </body>
</html>
