
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/add_college.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box">  
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="college">college name :</label>
          <input
            type="text"
            id="college"
            required
            name="college"
          /><br /><br />
          <button type="register" id="reg">register</button><br />
        </form>
      </div>
    </div>
  </body>
 
</html>
