
{% extends 'admin_dashboard.html' %}
{% block styles %}
<style>
        
        .feedback-container {
            width: 70%;
            max-width: 1200px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        table {
            width: 100%;
            border: 1px solid #ddd;
        }

        th {
            background-color: #074485; /* Blue color */
            color: white;
            padding: 12px;
            text-align: left;
            font-size: 18px;
        }

        td {
            padding: 12px;
            text-align: left;
            font-size: 16px;
        }

        tr:nth-child(even) {
            background-color: #e6e5e5; /* Stripe effect for even rows */
        }

        tr:nth-child(odd) {
            background-color: #a09f9f; /* Odd rows with white background */
        }

        td div {
            max-height: 150px;
            overflow-y: scroll;
            border-radius: 10px;
            border: 1px solid #080808;
            padding: 20px;
        }      
      
</style>      
{% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="feedback-container">
      <div class="table">
        <form action="" method="post">
        <table>
          <tr>
            <th>name</th>
            <th>feedback</th>
            <th>submitted at</th>
          </tr>
          {% for i in feedbacks %}
            <tr>
                <td>{{ i.student_id.username }}</td>
                <td ><div style="max-height: 150px; overflow-y: scroll; border: 1px solid #ddd; padding: 10px;">{{ i.feedback_text }}</div></td>
                <td>{{ i.submitted_at }}</td>
            </tr>
            {% endfor %}
        </table>


      </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
