{% extends 'student_dashboard.html' %}
{% block body %}
 <form method="get"><br><br>
  <label for="semester">Select Semester:</label>
  <select name="semester_id" id="semester" onchange="this.form.submit()">
      <option value="">All Semesters</option>
      {% for semester in semesters %}
      <option value="{{ semester.id }}" {% if request.GET.semester_id == semester.id|stringformat:"s" %}selected{% endif %}>
          {{ semester.semester_name }} - {{ semester.course_id.name }}
      </option>
      {% endfor %}
  </select><br><br><br>
  <table>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Contact Hours</th>
      <th>Staff</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.subject_name }}</td>
      <td>{{ i.contact_hours }}</td>
      <td>{{ i.staff.name }}</td>
    </tr>
    {% endfor %}
  </table>
</form>
  {% endblock %}