* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cover;
    background: url(verify.jpg) no-repeat center center/cover;
  }
  
  .container {
    position: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border-radius: 10px;
    height: 100px;
    background-color: rgba(223, 198, 198, 0.3);
  }
  
  th, td {
    padding: 10px 20px;
    
  }
  
  
  
  button {
      padding: 3px;
      background: transparent;
  } 
  #edit {
    width: 50px;
    padding: 7px;
    color: rgb(14, 14, 13);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: rgb(27, 27, 27);
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  
  }
  
  #edit:hover {
    background-color: #0ab83e;
  }
  
   
  #delete {
    width: 50px;
    padding: 7px;
    color: rgb(14, 14, 13);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: rgb(27, 27, 27);
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  
  }
  
  #delete:hover {
    background-color: #eb2323;
  }
  #add {
    width: 100px;
    padding: 10px;
    color: rgb(8, 8, 8);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: rgb(23, 245, 178);
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
  }

    #add:hover {
        background-color: #0ab83e;
    }